body{
    background-color: rgb(224, 212, 212);
    animation-name: coloranimate;
    animation-duration:7s;
    animation-iteration-count: infinite;

    
}
@keyframes coloranimate{
    from{background-color: aliceblue;}
    to{background-color: rgb(195, 221, 221);}
    

}

body:hover{
    font-style:italic;
    

}

#option value{
    color: aqua;
}

div{
    background-color: rgb(190, 182, 201);
    text-align: center;
     border-radius: 100;
}
    
#sirsi
{background-color: blue;
}
h1:hover{
    background-color: rgb(167, 167, 250);
}
button{
    background-color: rgb(205, 244, 244);
}
button:hover{
    background-color: blue;
    color: white;
}
